<!doctype html>
<html>

<head>
    <title>{{title}} </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    
        <title>Yeet The Meat</title>
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link href="{{url_for('static', filename='styles/styles.css')}}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
        
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}

      </head>
    

<body>
    <header id="header">


        <nav class="navbar"  role="navigation" aria-label="main navigation" >
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                      <img src={{url_for('static', filename='images/AALogo.svg')}} width="60" height="60">
                    </a>
                
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                    </a>
                  </div>
                  <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                      <a class="navbar-item"
                        href={{ url_for ( 'home' ) }}>Home
                    </a>
                
                      <a class="navbar-item" 
                        href={{ url_for ( 'home' ) }}>Breakfast</a>
                        <a class="navbar-item" 
                        href={{ url_for ( 'home' ) }}>Lunch</a>
                      
                        <a class="navbar-item" 
                        href={{ url_for ( 'home' ) }}>Snacks</a>

                        <a class="navbar-item" 
                        href="{{ url_for('explore') }}">Explore</a>

                    
                        </div>


<div class="navbar-end">                   
    <div class="navbar-item">
        {% if current_user.is_anonymous %}
            <div class="buttons">
                <a class="button is-primary" href="{{ url_for('login') }}">
                    <strong>Login</strong>
                </a>
        {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('user', username=current_user.username) }}">
                        <strong>Profile</strong>
                    </a>
                    <a class="button is-light"  href="{{ url_for('logout') }}">
                        Logout
                    </a>
            </div>
        </div>
    </div>

        {% endif %}
    </div>
</div>
                    
</div>                    
</div>

        </nav>

        
    
    </header>

    <main id="main" role="main" >
        <div id="content">

        </div>
        <section class="hero">
            <div class="hero-body">
              <h1 class="title is-size-1">Alison Abroad</h1>
              <h2 class="subtitle is-size-4	">A place to see all the wonderful things that Alison has seen.</p>
            </div>
          </section>
          
          <section class="section">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child notification is-primary">
                    <p class="title">Wales</p>
                    <p class="subtitle">Rugged Coastline, beautiful valleys, House-Elf graves and Cardiff*.</p>
                    <p class="is-size-7">*Definitely not where Dr Who Ep.1 was filmed.</p>
    
                  </article>
                  <article class="tile is-child notification is-info">
                    <p class="title">West Highland Way</p>
                    <p class="subtitle">Milngavie to Fort William by foot</p>
                    <figure class="image is-4by3">
                      <img src={{url_for('static', filename='images/whwPhoto.jpg')}}>
                    </figure>

                  </article>
                </div>
               <!--<div class="tile is-parent">
                  <article class="tile is-child notification is-warning ">
                    {% include "feature.html" %}
                  </article>
                </div>-->
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    {% block content %}{% endblock %}

                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-success">
                <div class="content">
                    {% include "blog.html"  %}

                </div>
              </article>
            </div>
          </div>
        </section>
        </div>
        </main>
    
    <div id="footer">
       <div class="container">
        {% include "footer.html" %} </div> 
    </div>
</body>



</html>